<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <ul>
  {% for (idx, sketch) in sketches.pairs %}
    <li>
      <h2>{{ sketch.title }}</h2>
      <h3>Sketch #{{ idx }}</h3>
      <img src="/sketches/{{ sketch.file_name }}" alt="{{ sketch.title }}"/>
    </li>
  {% endfor %}
  </ul>
</body>
</html>
